* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    background-color: var(--red-1);
    background-image: url('../images/clipboard-backgrond-mobile.png');
    > main {
        min-height: calc(100vh - 400px);
    }
}