header {
<<<<<<< HEAD
    margin: 43px auto 122px auto;
=======
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 122px;
>>>>>>> e4625c173bbc5598551bbe2c45c8a739445a37b3
}